<!DOCTYPE html>
<html>
  <head>
    <script src="../public/jquery-2.1.4.js" type="text/javascript"></script>
    <title>To Do List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="header">
      <h1>Jimmy's TO DO List</h1>
    </div>
    <div class="main">
      <div class="list">
        <p>
          <input type="checkbox" class="checkboxes">
          <i class="glyphicon glyphicon-star"></i>
          <span>Brie</span>
          <i class="glyphicon glyphicon-remove"></i>
        </p>


      <form class="form">
        <div class="form-container">
          <input id="todo" type="text" class="form-input" placeholder="Add item">
        </div>
        <button id="add-items" class="btn">+</button>
      </form>
    </div>

    <script type="text/javascript">
      item_name = $('#todo')
     $('#add-items').on('click', function(evt) {
       $.ajax({
         dataType: 'json',
         data: {item_name: item_name},
         method: 'POST',
         url: '/items',
         success: function(data){
                console.log(data)
          }
        })
       })


    </script>
</body>
</html>
